<md-dialog aria-label="Book appointment"  ng-cloak>
    <md-dialog-content style="padding: 40px 50px 20px 50px;">
        <book-form></book-form>
    </md-dialog-content>
    <md-dialog-actions layout="row" style="padding-bottom: 10px;">
        <span flex></span>
        <button class="btn-std btn-2" ng-click="closeModal()">
            Cancel
        </button>
        <button class="btn-std btn-submit" ng-click="" style="margin-right:20px;">
            Book
        </button>
    </md-dialog-actions>
</md-dialog>