<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <book-form></book-form>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <button class="btn-std btn-submit btn-fw" ng-click="submit(email, name, summary, description, meetingroom, startDate, endDate, startTime, endTime)">Submit</button>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>