<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <br>
        <form>
            <div class="form-group">
                Which meeting room do you want to book?
                <select ng-model="meetingroom">
                    <option>Meetingroom 1</option>
                    <option>Meetingroom 2</option>
                    <option>Meetingroom 3</option>
                </select>
            </div>
            <div class="form-group">
                Start day
                <input type="date" class="form-control" id="startDay" ng-model="startDate">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="diffEndday"> Event has different endday
                </label>
            </div>
            <div class="form-group" ng-show="diffEndday">
                End day
                <input type="date" class="form-control"  ng-model="endDate">
            </div>
            <div class="form-group">
                Starts at
                <input type="time" class="form-control" ng-model="startTime">
            </div>
            <div class="form-group">
                Ends at
                <input type="time" class="form-control" ng-model="endTime">
            </div>
            <div class="form-group">
                <label for="summary">Summary</label>
                <input type="text" class="form-control" id="summary" placeholder="Summary" ng-model="summary">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" placeholder="Description" rows="3" required ng-model="description"></textarea>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" ng-model="name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email" ng-model="email">
            </div>
            <button type="submit" class="btn" ng-click="submit(email, name, summary, description, meetingroom, startDate, startTime, endTime)">Submit</button>
        </form>
    </div>
    <div class="col-md-1"></div>
</div>