<div class="container-fluid">
    <div class="row meetingrow">
        <div class="col-md-12 center">
            <br>
            Check availability for the upcoming hour
            <br><button class="btn btn-default" ng-click="checkAvailabilityNow()">Check</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 center">
                <br>
            <form class="form-inline">
                    <div class="form-group">
                       <md-datepicker ng-model="startDate" md-placeholder="Enter date"></md-datepicker>&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="form-group">
                        &nbsp;&nbsp;&nbsp;&nbsp;at&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="input-group bootstrap-timepicker timepicker">
                                <input id="timepicker1" type="time" class="form-control input-small" ng-model="startTime">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            </div>
                        <script type="text/javascript">
                            $('#timepicker1').timepicker();
                        </script>
                    </div>

                    <button type="submit" class="btn btn-default" ng-click="checkAvailability(startDate, startTime, endTime)">Check availability</button>
                </form>
        </div>
    </div>
    <div class="row">
        <br>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <span class="room">
                <h3>Meetingroom 1</h3>
            </span>
            <span class="glyphicon glyphicon glyphicon-remove center" ng-hide="availableOne"></span>
            <span class="glyphicon glyphicon-ok center" ng-show="availableOne"></span>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <span class="room">
                <h3>Meetingroom 2</h3>
            </span>
            <span class="glyphicon glyphicon glyphicon-remove center" ng-hide="availableTwo"></span>
            <span class="glyphicon glyphicon-ok center" ng-show="availableTwo"></span>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <span class="room">
                <h3>Meetingroom 3</h3>
            </span>
            <span class="glyphicon glyphicon glyphicon-remove center" ng-hide="availableThree"></span>
            <span class="glyphicon glyphicon-ok center" ng-show="availableThree"></span>
        </div>
        <div class="col-md-1"></div>
    </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div ng-cloak>
                <br><br>
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Meetingroom 1" ng-click="changeRoom(1)">
                            <md-content class="md-padding">
                                <table-events></table-events>
                            </md-content>
                        </md-tab>
                        <md-tab label="Meetingroom 2" ng-click="changeRoom(2)">
                            <md-content class="md-padding">
                                <table-events></table-events>
                            </md-content>
                        </md-tab>
                        <md-tab label="Meetingroom 3" ng-click="changeRoom(3)">
                            <md-content class="md-padding">
                                <table-events></table-events>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </div>
    </div>
</div>