$primary-color: lightblue;
$sec-color: dodgerblue;

@mixin setLinkSelectorStyle {
  &:hover, &:link, &:active, &:visited {
    @content;
  }
}

.body {
  color: white;
}

.hero {
  color: white;
  font-size: 3em;
  text-align: center;
  padding-top: 1em;
  background-color: $primary-color;
  min-height: 6em;
    p {
      font-size: medium;
      font-style: italic;
    }
}

.meetingRow {
  margin-top: 1em;
}

.center {
  text-align: center;
}

.btn-menu {
    background-color: $sec-color;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 darken($sec-color, 30%), 0 1px 10px 0 darken($sec-color, 10%);
    color: white;
    border: 0px;
}

.btn {
    color: white;
    @include setLinkSelectorStyle {
        color: white;
    }
}

.room {
    h2 {
      font-size: 2em;
      font-color: grey;
    }
}

span.glyphicon-remove {
  font-size: 3em;
  color: red;
}

span.glyphicon-ok {
  font-size: 3em;
  color: green;
}

