@import 'colors';
@import 'buttons';
@import 'glyphicon';

.body {
  color: white;
  font-family: "open sans", sans-serif;
}

.hero {
  color: white;
  font-size: 3em;
  text-align: center;
  font-family: "open sans", sans-serif;
  padding-top: 1em;
  //background: linear-gradient(to right, $button, #2979FF, #2962FF);
  background: linear-gradient(to right, $button, $button-l1, $button-l2);
  min-height: 6em;
    p {
      font-size: medium;
      font-style: italic;
    }
}

.row-mt-1 {
  margin-top: 1em;
}

.room {
    h2 {
      font-size: 2em;
      font-color: grey;
    }
}
